@import url(//fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: 'Omnes-Light';
  src: url('fonts/Omnes-Light.otf') format('otf'),
      
}


h1 {
	font-family: 'Omnes-Light', sans-serif;
	color: #fff;
}

h2 {
	font-family: 'Omnes-Light', sans-serif;
	color: #25a970;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.nopadding {
   padding: 10 !important;
   margin: 0 !important;
}

.title {
	padding: 10px;
	background-color: #dcdcdc;
}

.container-fluid {
	background-color: #25a970;
	margin-bottom: 20px;
}

.container {
	padding: 20px;
}

.box {
	margin-bottom: 15px;
  display: inline-block;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  width: auto;
  background-color: #7e3b94;
}



.zoomimg {
  display: block;
  height: 150px;
  overflow:hidden;
  transition: all .5s ease;
}

.zoomimg img {
  width: 100%;
  transition: transform 0.3s;
}

.zoomimg:hover img {
  transform: scale(1.1, 1.1);
}

.zoomimg:hover {
  cursor: pointer;
  background-size: 105% 105%;
}

.content {
  padding: 20px;
}

.content h1 {
  margin: 0px;
}

.btn-primary1 {
  margin-top: 15px;
  color: #333;
  font-size: 18px;
  background-color: #e9e9e9;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0px;
}

.btn-primary1:hover {
  color: #333;
  background-color: #f5f5f5;
  text-decoration: underline;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0px;
}

.btn-primary1:hover:active {
  background-color: #e9e9e9;
  color: #333;
}

.btn-primary1:focus {
  background-color: #e9e9e9;
}

.btn-primary {
	margin-top: 15px;
	color: #fff;
	font-size: 18px;
	  background-color: #1e4e9d;
	  width: 100%;
	  height: 45px;
	  border-radius: 3px;
	  -webkit-opacity: 1;
	  -moz-opacity: 1;
	  opacity: 1;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -ms-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	  border: 0px;
}

.btn-primary:hover {
  background-color: #2c67c7;
  text-decoration: underline;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0px;
  
}

.btn-primary:hover:active {
  background-color: #1e4e9d;
}

.btn-primary:focus {
  background-color: #2c67c7;
}

.btn-primary2 {
  margin-top: 15px;
  color: #fff;
  font-size: 18px;
  background-color: #1e4e9d;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 0px;
}

.btn-primary2:hover {
  color: #fff;
  background-color: #2c67c7;
  text-decoration: underline;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 0px;
}

.btn-primary2:hover:active {
  color: #fff;
  background-color: #1e4e9d;
}

.btn-primary2:focus {
  color: #fff;
  background-color: #1e4e9d;
}

.btn-primary3 {
  margin-top: 15px;
  color: #fff;
  font-size: 18px;
  background-color: #1e4e9d;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 0px;
}

.btn-primary3:hover {
  color: #fff;
  background-color: #2c67c7;
  text-decoration: underline;
  border: 0px;
}

.btn-primary3:hover:active {
  color: #fff;
  background-color: #1e4e9d;
}

.btn-primary3:focus {
  color: #fff;
  background-color: #1e4e9d;
}


/*CARDS*/

/*green*/

.box2 {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	border: 2px solid #25a970;
	padding-left: 120px;
	position: relative;
}

.box2 h1{
	margin-top: 0px;
}

.box__icon {

	position: absolute;
	
	left: 20px;

}



.box__content {
	background: green;
}

/*colours*/
.color-box {
    width: 300px;
    height: 50px;
    margin-left: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.darkest {
  background: #394348;
}

.darker {
  background: #666;
}

.light {
  background: #eee;
  color: #394348;
}
.light p{
  
  color: #394348;
}

.lighter {
  background: #fafafa;
}

.lighter p{
  
  color: #394348;
}

.lightest {
  background: #e9e9e9;
}

.lightest p{
  
  color: #394348;
}














